.list {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  border-radius: 100px;
}

.overlay {
  position: absolute;
  left: 20%;
  top: 0;
  opacity: 0;
  font-size: 15px;
}


.list:hover > .overlay {
  opacity: 1;
  background-color: gray;
  height: 200px;
  width: 300px;
  z-index: 100;
  border: 1px solid black ;
  border-radius: 10px;
}

.list {
  margin: auto;
  border: 1px solid white;
  border-radius: 5%;
  position: relative;
}
