.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: gray; /* Background color */
}

.inputs {
  margin-bottom: 15px;
  width: 100%;
  max-width: 400px; /* Maximum width for inputs */
}

.inputs label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inputs input {
  height: 40px; /* Fixed height for inputs */
  padding: 0 10px; /* Horizontal padding */
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box; /* Includes padding and border in total width */
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 250px;
}

.buttons button {
  width: 80px;
  height: 30px;
  padding: 0;
  margin: 0 2px; /* Space between buttons */
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Amazon Ember", sans-serif;
  font-size: 13px;
  line-height: 29px;
  text-align: center;
  color: #0f1111;
  background-color: gray;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
}

.buttons button:first-of-type {
  background-color: #007bff;
  color: white;
}

.buttons button:last-of-type {
  background-color: #28a745;
  color: white;
}

.buttons button:hover {
  opacity: 0.5;
}

.buttons button:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  outline: 0;
}
